
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Word Cloud</h2><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="@ViewBag.ImageData" />
        </div>
    </div>
</div>
