@model  WordCloud.Web.Models.Website
@{
    ViewBag.Title = "Word Cloud Generator";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.URL, "Enter Website URL")
                @Html.TextBoxFor(model => model.URL, new { @class = "form-control", @placeholder = "Website URL" })
                @Html.ValidationMessageFor(model => model.URL) <br />
            </div>

                <input type="submit" class="btn btn-primary " value="Submit" />
            }
        </div>
    </div>
</div>